In [4]:
import pandas as pd

In [5]:
data = pd.read_csv('fer2013.csv')

In [3]:
data.head()

# The colum pixels is 48x48 pixels

   emotion                                             pixels     Usage
0        0  70 80 82 72 58 58 60 63 54 58 60 48 89 115 121...  Training
1        0  151 150 147 155 148 133 111 140 170 174 182 15...  Training
2        2  231 212 156 164 174 138 161 173 182 200 106 38...  Training
3        4  24 32 36 30 32 23 19 20 30 41 21 22 32 34 21 1...  Training
4        6  4 0 0 0 0 0 0 0 0 0 0 0 3 15 23 28 48 50 58 84...  Training

In [11]:
data.shape

(35887, 3)

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35887 entries, 0 to 35886
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   emotion  35887 non-null  int64
 1   pixels   35887 non-null  object
 2   Usage    35887 non-null  object
dtypes: int64(1), object(2)
memory usage: 841.2+ KB

In [10]:
data['emotion'].value_counts()

3    8989
6    6198
4    6077
2    5121
0    4953
5    4002
1     547
Name: emotion, dtype: int64

In [ ]:
'''

0 = Angry
1 = Disgust
2 = Fear
3 = Happy
4 = Sad
5 = Surprise
6 = Neutral

'''

In [14]:
data['Usage'].value_counts()

Training       28709
PublicTest      3589
PrivateTest     3589
Name: Usage, dtype: int64

In [15]:
data.isnull().sum()

emotion    0
pixels     0
Usage      0
dtype: int64

# Create another set of equal number of samples

In [29]:
data2 = data.groupby('emotion').apply(lambda x: x.sample((500)))

data2['emotion'].value_counts()

5    500
3    500
1    500
6    500
4    500
2    500
0    500
Name: emotion, dtype: int64

In [31]:
data2.to_csv('data2.csv')

In [ ]:
# I tried some things witht this dataset (data2) but downsampling wasn't very useful at the time